<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Ajouter un nouveau patient</title>
        <!-- Bootstrap CSS -->
        <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                crossorigin="anonymous">
    </head>
    <body class="bg-light">
        <div class="container mt-5">
            <!-- Header -->
            <div class="text-center mb-4">
                <h2>Ajouter un nouveau patient</h2>
                <p class="text-muted">Remplissez les informations du patient ci-dessous</p>
            </div>
            <div class="w-50 mx-auto">
                <!-- Back button -->
                <a th:href="@{/patients}" class="btn btn-secondary mb-3">
                    <i class="bi bi-arrow-left-circle me-2"></i>
                    Annuler
                </a>

                <!-- Form -->
                <form th:action="@{/patients/add}" th:object="${patient}" method="post"
                      class="card p-4 shadow-sm bg-white ">

                    <!-- LastName -->
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Nom</label>
                        <input type="text" class="form-control" th:field="*{lastName}" placeholder="Entrez le nom" required>
                    </div>

                    <!-- FirstName -->
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Prénom</label>
                        <input type="text" class="form-control" th:field="*{firstName}" placeholder="Entrez le prénom" required>
                    </div>

                    <!-- Date Of Birth -->
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Date de naissance</label>
                        <input type="date" class="form-control" th:field="*{dateOfBirth}" required>

                        <!-- Message if date is in the future -->
                        <div th:if="${#fields.hasErrors('dateOfBirth')}"
                             th:errors="*{dateOfBirth}"
                             class="alert alert-danger py-2 mt-2 text-center">
                        </div>
                    </div>

                    <!-- Gender -->
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Genre</label>
                        <select class="form-select" th:field="*{gender}">
                            <option value="M">Homme</option>
                            <option value="F">Femme</option>
                        </select>
                    </div>

                    <!-- Address -->
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Adresse</label>
                        <input type="text" class="form-control" th:field="*{address}" placeholder="Entrez l'adresse">
                    </div>

                    <!-- Phone -->
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Téléphone</label>
                        <input type="text" class="form-control" th:field="*{telephoneNumber}" placeholder="Entrez le numéro de téléphone">
                    </div>

                    <!-- Button register-->
                    <button type="submit" class="btn btn-primary w-100 fw-semibold">
                        <i class="bi bi-check-circle me-2"></i> Enregistrer le patient
                    </button>
                </form>
            </div>

        </div>
        <!-- Bootstrap JS -->
        <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous">
        </script>
    </body>
</html>
